SOAP_Weather/src/main/resources/weather.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://vs_project.fh/models/soap/weather"
           targetNamespace="http://vs_project.fh/models/soap/weather" elementFormDefault="qualified">

    <xs:element name="getCurrentWeatherRequest">
        <xs:complexType>
            <xs:sequence></xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getCurrentWeatherResponse">

        <xs:complexType>
            <xs:sequence>
                <xs:element name="weather" type="xs:float"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>